@import url("https://fonts.googleapis.com/css?family=Roboto:300");
html, body {
  background-color: #eee;
  font-family: "Roboto", sans-serif;
  font-size: 18px; }

nav {
  max-width: 80%;
  margin: 0 auto; }
  nav .navbar {
    padding: 0;
    margin: 30px 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row; }
    nav .navbar__item {
      margin: 0 20px; }
      nav .navbar__item a {
        color: #343a4a;
        text-decoration: none;
        position: relative; }
        nav .navbar__item a::before {
          content: '';
          border-top: 1px solid #343a4a;
          border-right: 1px solid #343a4a;
          width: 10px;
          height: 10px;
          position: absolute;
          top: -2.5px;
          right: -10px;
          transform: scale(0) translate(-15px, 15px);
          opacity: 0;
          transition: all 500ms cubic-bezier(0.75, -0.5, 0, 1.75); }
        nav .navbar__item a::after {
          content: '';
          border-bottom: 1px solid #343a4a;
          border-left: 1px solid #343a4a;
          width: 10px;
          height: 10px;
          position: absolute;
          bottom: -2.5px;
          left: -10px;
          transform: scale(0) translate(15px, -15px);
          opacity: 0;
          transition: all 500ms cubic-bezier(0.75, -0.5, 0, 1.75); }
        nav .navbar__item a:hover:before, nav .navbar__item a:hover::after {
          transform: scale(1) translate(0, 0);
          opacity: 1; }
