@import '_vars';
@import '_fonts';

html, body{
  background-color: $bg;
  font-family: $mainFont;
  font-size: 18px;
}
*{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::selection{
  background-color: $highlight;
}
-moz::selection{
  background-color: $highlight;
}
nav{
  max-width: 80%;
  margin: 50px auto;
  .navbar{
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    margin: 0;
    &__item{
      margin: 0 20px;
      a{
        color: $textColor;
        text-decoration: none;
        position: relative;
        transition: color 400ms ease-in-out;
        &::before{
          content: '';
          border-top: 1px solid $highlight;
          border-right: 1px solid $highlight;
          width: 10px;
          height: 10px;
          position: absolute;
          top: -2.5px;
          right: -10px;
          transform: scale(0) translate(-15px, 15px);
          opacity: 0;
          transition: all 500ms cubic-bezier(.75,-0.5,0,1.75);
        }
        &::after{
          content: '';
          border-bottom: 1px solid $highlight;
          border-left: 1px solid $highlight;
          width: 10px;
          height: 10px;
          position: absolute;
          bottom: -2.5px;
          left: -10px;
          transform: scale(0) translate(15px, -15px);
          opacity: 0;
          transition: all 500ms cubic-bezier(.75,-0.5,0,1.75);
        }
        &:hover{
          color: $highlight;
          &:before, &::after{
            transform: scale(1) translate(0,0);
            opacity: 1;
          }
        }
      }
    }
  }
}
.intro{
  max-width: 50%;
  margin: 0 auto;
  padding: 100px 0;
  &__heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    &-title{
      color: $textColor;
      font-size: 2em;
    }
    &-img{
      width: 45px;
      height: auto;
      margin-left: 15px;
      animation: wave 2000ms infinite;
    }
  }
  &__para{
    p{
      line-height: 1.4;
      color: $textColor!important;
      span{
        font-style: italic;
        padding: 0 5px;
        position: relative;
        z-index: 1;
        &::before{
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 3px;
          background-color: $highlight;
          z-index: -1;
          transition: height 150ms linear;
          display: block;
        }
        &:hover{
          &::before{
            height: 100%;
          }
        }
      }
    }
    a{
      font-style: italic;
      color: $textColor;
      text-decoration: none;
      position: relative;
      z-index: 1;
      &::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        background-color: $highlight;
        z-index: -1;
        display: block;
        transition: height 150ms linear;
      }
      &:hover{
        &::before{
          height: 100%;
        }
      }
    }
  }
}

.projects{
  max-width: 50%;
  margin: 0 auto;
  padding: 35px 0;
  &__more{
    text-align: center;
    padding: 50px 0;
    display: block;
    a{
      text-decoration: none;
      color: $textColor;
      position: relative;
      z-index: 1;
      &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: $highlight;
        transition: height 150ms linear;
        z-index: -1;
        display: block;
      }
      &:hover{
        &::before{
          height: 100%;
        }
      }
    }
  }
  &__heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    &-title{
      color: $textColor;
      font-size: 2em;
    }
    &-img{
      width: 45px;
      height: auto;
      margin-left: 15px;
      animation: pulse 1200ms infinite;
    }
  }
  &__list{
    &-single{
      margin: 25px 0;
      &-title{
        color: $textColor;
        font-size: 1.5em;
        margin: 0 0 15px 0;
      }
      &-desc{
        max-width: 80%;
        line-height: 1.8;
        font-size: 1em;
        color: $textColor;
        span{
          font-style: italic;
        }
      }
      &-link{
        color: $textColor;
        font-style: italic;
        text-decoration: none;
        position: relative;
        z-index: 1;
        &::before{
          content: '';
          width: 100%;
          height: 3px;
          background-color: $highlight;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: height 150ms linear;
          z-index: -1;
        }
        &:hover{
          &:before{
            height: 100%;
          }
        }
      }
    }
  }
}

@keyframes wave {
  0%{
    transform: rotate(0deg)
  }25%{
    transform: rotate(60deg);
  }50%{
    transform: rotate(0deg)
  }75%{
    transform: rotate(60deg);
  }100%{
    transform: rotate(0deg);
  }
}

@keyframes pulse{
  0%{
    transform: scale(1);
  }50%{
    transform: scale(1.2);
  }100%{
    transform: scale(1);
  }
}

@media screen and (max-width: 992px){
  .projects__list-single-desc{
    max-width: 100%;
  }
}

@media screen and (max-width: 768px){
  .navbar{
    justify-content: center!important;
  }
  .intro, .projects{
    max-width: 90%;
    padding: 25px 0;
  }
  .projects__heading{
    &-img{
      width: 35px;
    }
    &-title{
      font-size: 1.5em;
    }
  }
}